<a href="https://colab.research.google.com/github/AvilaJulio/bedu-ds-equipo6/blob/main/PROYECTO_M%C3%93DULO_3_BEDU.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **PROYECTO MÓDULO 3 DATA SCIENCE BEDU**
# *Procesamiento de datos con Python*

## Equipo 6
### Angélica Luna García
### Jesús Iván Martín Reyes
### Julio Cesar Avila Padilla
### Manuel Herrera Flores
### Marco Antonio Hernandez Peñafort
### Kimberly Atara Lopez Vazquez

## **1.	Identificación del problema**  

---

##MARCO TEÓRICO
La violencia en nuestro país es un problema grave. Las 6 ciudades más violentas del mundo están en México (EL PAÍS, 2021). Durante el 2018 se cometieron 33 millones de delitos en todo el país, asociados a 24.7 millones de víctimas, lo que significa que uno de cada tres hogares (33.9%) fue objeto de algún ilícito dicho año (INEGI). 

En la CDMX, donde hay más de 9 millones de habitantes (INEGI, 2020), domina la violencia, la inseguridad y, sobre todo, la impunidad. En la Ciudad de México, el 97.7 por ciento de los delitos queda impune. (México Evalúa, 2019).

Estos datos son sumamente alarmantes, pues muestran un claro problema que aqueja a la sociedad y, a pesar de esto, las autoridades no parecen estar atacándolo de la manera correcta. 

“En nuestro país existe una tendencia generalizada a no resolver y/o solucionar los delitos que se conocen, a pesar de que sólo una pequeña parte de los delitos ocurridos llegan al conocimiento de las autoridades.”

Mucho se ha especulado sobre este tema, muchos medios han publicado sus propios datos, y es por ello que nosotros hemos decidido trabajar con la base de datos OFICIAL que publica y actualiza el mismo gobierno capitalino, para poder identificar aquellas colonias y alcaldías en donde se cometen más delitos, observar tendencias, y poder sugerir acciones para atacar aquellas zonas más conflictivas.
##JUSTIFICACIÓN
Se eligió trabajar en este dataset por múltiples razones:
-	Trata un tema de relevancia social, puesto que a todas y todos nos concierne nuestra seguridad y bienestar.
-	Transparencia en los datos: todos los ciudadanos de la Ciudad de México, aquellos de la zona metropolitana que frecuentan dicha ciudad, y otros visitantes ya sean habituales o esporádicos, tienen el derecho a poder consultar dicha información, de una manera sencilla y entendible, por lo que decidimos darnos a la tarea de limpiar y filtrar los datos para en un futuro cercano poder visualizarlos a través de gráficos y mapas que faciliten su interpretación y valoración.
-	Al poder interpretar dicha información, nos podemos hacer cuestionamientos relevantes y forjarnos una opinión acerca de la condición actual de seguridad en la CDMX, que nos permitan exigir a nuestros gobernantes (con base en información fidedigna) que atiendan con mayor eficacia aquellos delitos que se encuentran al alza y focalicen esfuerzos en aquellas delegaciones y colonias donde se muestren tendencias más marcadas de delitos graves.
-	Es un proyecto escalable, puesto que, el análisis que se haga de la CDMX, se puede replicar en otras ciudades del país. El proyecto, además, tiene mucho potencial para posteriormente generar gráficos, mapas y demás figuras visuales que nos permitan interpretar aún más a fondo los datos.

## **2.	Planteamiento de preguntas**

---

A través del análisis de la base de datos elegida, pretendemos dar respuesta a los siguientes cuestionamientos:
-	¿Qué tipos de delitos se cometen con mayor frecuencia?
-	¿En qué colonias y alcaldías se cometen el mayor número de delitos graves?
-	¿Qué tipos de delito han mostrado un crecimiento y decrecimiento en los últimos años? ¿En qué medida?
-	¿Qué tipos de delitos son los que más se cometen por alcaldía?
-	¿Qué delitos han son más comúnes cada año?
-	¿En qué horarios durante el día se cometen mayor número de algún tipo de delito?

## **3. Colección de datos** 

---

La colección de datos se obtuvo del Portal de datos abietos del Gobierno de la Ciudad de México. La colección se llama [*Carpetas de Investigación de la FGJ*](https://archivo.datos.cdmx.gob.mx/fiscalia-general-de-justicia/carpetas-de-investigacion-fgj-de-la-ciudad-de-mexico/carpetas_completa_junio_2021.csv), el cual puedes descargar en formato csv dando clic sobre el nombre. Si deseas descargarlo directamente de la página del Portal de datos abiertos, haz click [*aquí*](https://datos.cdmx.gob.mx/dataset/carpetas-de-investigacion-fgj-de-la-ciudad-de-mexico/resource/48fcb848-220c-4af0-839b-4fd8ac812c0f). 

Esta base de datos contiene la información actualizada de las carpetas de investigación de la Fiscalía General de Justicia (FGJ) de la Ciudad de México a partir de enero de 2016. Las variables que contiene esta base son Carpetas de investigación de delitos a nivel de calle de la FGJ por Fiscalía, Agencia, Unidad de Investigación, fecha de apertura de la carpeta de investigación, delito, categoría de delito, calle, colonia, alcaldía, coordenadas, mes y año. Esta información se actualiza mensualmente.

## **4. Análisis exploratorio de datos**

---

### 4.1 Convertir el archivo CVS a un DataFrame de pandas

In [ ]:
# Realizamos la importación de la librería pandas:
import pandas as pd

# Leemos el archivo csv y consultamos el tipo de archivo generado:
df = pd.read_csv('https://archivo.datos.cdmx.gob.mx/fiscalia-general-de-justicia/carpetas-de-investigacion-fgj-de-la-ciudad-de-mexico/carpetas_completa_junio_2021.csv', sep=',')
type(df)

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (15) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

pandas.core.frame.DataFrame

### 4.2 Análisis exploratorio

In [ ]:
# Consultamos las dimensiones de nuestro 'df':
df.shape

(1248924, 19)

In [ ]:
# Consultamos las primeras 3 entradas del 'df':
df.head(3)

   ao_hechos mes_hechos         fecha_hechos  ...   longitud    latitud tempo
0     2016.0      Enero  2016-01-31 22:16:00  ... -99.140215  19.380315   NaN
1     2016.0      Enero  2016-01-31 20:50:00  ... -99.108403  19.352859   NaN
2     2016.0    Febrero  2016-02-01 00:30:00  ... -99.061321  19.356451   NaN

[3 rows x 19 columns]

In [ ]:
# Consultamos las últimas 3 entradas del 'df':
df.tail(3)

         ao_hechos mes_hechos         fecha_hechos  ...   longitud    latitud tempo
1248921     2021.0      Junio  2021-06-30 19:40:00  ... -99.061716  19.419028   NaN
1248922     2021.0       Mayo  2021-05-16 21:08:00  ... -99.158994  19.418615   NaN
1248923     2021.0      Junio  2021-06-29 17:00:00  ... -99.069557  19.321406   NaN

[3 rows x 19 columns]

In [ ]:
# Revisamos el tipo de datos de cada columna y si contienen NaN's:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1248924 entries, 0 to 1248923
Data columns (total 19 columns):
 #   Column                Non-Null Count    Dtype
---  ------                --------------    -----
 0   ao_hechos             1248489 non-null  float64
 1   mes_hechos            1248489 non-null  object
 2   fecha_hechos          1248489 non-null  object
 3   ao_inicio             1248924 non-null  int64
 4   mes_inicio            1248924 non-null  object
 5   fecha_inicio          1248921 non-null  object
 6   delito                1248924 non-null  object
 7   fiscalia              1248922 non-null  object
 8   agencia               1248924 non-null  object
 9   unidad_investigacion  1248697 non-null  object
 10  categoria_delito      1248924 non-null  object
 11  calle_hechos          1245804 non-null  object
 12  calle_hechos2         487246 non-null   object
 13  colonia_hechos        1197664 non-null  object
 14  alcaldia_hechos       1245436 non-null  object
 15  competencia           184845 non-null   object
 16  longitud              1198622 non-null  float64
 17  latitud               1198622 non-null  float64
 18  tempo                 0 non-null        float64
dtypes: float64(4), int64(1), object(14)
memory usage: 181.0+ MB

## **5. Limpieza de datos**

---

Antes de verificar la existencia de NaN eliminamos las columnas que no aportan información reelevante a nuestros objtivos y filtramos los datos a partir del año en que existe mayor número de registros de delitos y contenplando únicamente las alcadías de la CDMX.

### 5.1 Eliminando columnas

In [ ]:
# Eliminando 6 columnas que no serán parte del analisis:
df_dropped = df.drop(columns=["unidad_investigacion", "agencia", "tempo", "competencia", "calle_hechos", "calle_hechos2"])
df_dropped.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1248924 entries, 0 to 1248923
Data columns (total 13 columns):
 #   Column            Non-Null Count    Dtype
---  ------            --------------    -----
 0   ao_hechos         1248489 non-null  float64
 1   mes_hechos        1248489 non-null  object
 2   fecha_hechos      1248489 non-null  object
 3   ao_inicio         1248924 non-null  int64
 4   mes_inicio        1248924 non-null  object
 5   fecha_inicio      1248921 non-null  object
 6   delito            1248924 non-null  object
 7   fiscalia          1248922 non-null  object
 8   categoria_delito  1248924 non-null  object
 9   colonia_hechos    1197664 non-null  object
 10  alcaldia_hechos   1245436 non-null  object
 11  longitud          1198622 non-null  float64
 12  latitud           1198622 non-null  float64
dtypes: float64(3), int64(1), object(9)
memory usage: 123.9+ MB

### 5.2 Filtrando los datos

In [ ]:
# Analizamos a  partir de qué año es pertinente filtrar los datos de acuerdo a la incidencia de delitos:
df_dropped.groupby('ao_hechos')['categoria_delito'].count().tail(20)

ao_hechos
2002.0       105
2003.0       112
2004.0       163
2005.0       192
2006.0       256
2007.0       314
2008.0       464
2009.0       483
2010.0       885
2011.0      1053
2012.0      1539
2013.0      2175
2014.0      4264
2015.0     15942
2016.0    194938
2017.0    227131
2018.0    253746
2019.0    243392
2020.0    199917
2021.0    100587
Name: categoria_delito, dtype: int64

In [ ]:
# Con base en lo anterior decidimos filtrar los datos a partir del 'ao_hechos'>=2016:
df_filtrado_1=df_dropped.loc[df_dropped['ao_hechos']>=2016]
print(df_filtrado_1.head(3))
print(df_filtrado_1.info())

   ao_hechos mes_hechos  ...   longitud    latitud
0     2016.0      Enero  ... -99.140215  19.380315
1     2016.0      Enero  ... -99.108403  19.352859
2     2016.0    Febrero  ... -99.061321  19.356451

[3 rows x 13 columns]
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1219711 entries, 0 to 1248923
Data columns (total 13 columns):
 #   Column            Non-Null Count    Dtype
---  ------            --------------    -----
 0   ao_hechos         1219711 non-null  float64
 1   mes_hechos        1219711 non-null  object
 2   fecha_hechos      1219711 non-null  object
 3   ao_inicio         1219711 non-null  int64
 4   mes_inicio        1219711 non-null  object
 5   fecha_inicio      1219708 non-null  object
 6   delito            1219711 non-null  object
 7   fiscalia          1219709 non-null  object
 8   categoria_delito  1219711 non-null  object
 9   colonia_hechos    1170845 non-null  object
 10  alcaldia_hechos   1216492 non-null  object
 11  longitud          1171810 non-null  float64
 12  latitud           1171810 non-null  float64
dtypes: float64(3), int64(1), object(9)
memory usage: 130.3+ MB
None

In [ ]:
# Contamos cuántas alcaldías están presentes en el df 'df_filtrado_1':
df_filtrado_1['alcaldia_hechos'].unique()

array(['BENITO JUAREZ', 'IZTAPALAPA', 'CUAUHTEMOC', 'TLAHUAC',
       'IZTACALCO', 'GUSTAVO A MADERO', 'MIGUEL HIDALGO', 'TLALPAN',
       'ALVARO OBREGON', 'VENUSTIANO CARRANZA', 'AZCAPOTZALCO',
       'CUAJIMALPA DE MORELOS', 'COYOACAN', 'XOCHIMILCO',
       'LA MAGDALENA CONTRERAS', 'MILPA ALTA', 'VERACRUZ', 'TUXPAM',
       'HUIXQUILUCAN', 'ECATEPEC DE MORELOS', 'SIN DATO', 'TULTEPEC',
       'ACATZINGO', 'GUELATAO DE JUAREZ', 'TLALNEPANTLA DE BAZ',
       'IXTAPALUCA', nan, 'NEZAHUALCOYOTL', 'CHALCO', 'TLATLAYA',
       'NAUCALPAN DE JUAREZ', 'ZAPOPAN', 'VALLE DE CHALCO SOLIDARIDAD',
       'TIANGUISTENCO', 'TEHUACAN', 'ACAPULCO DE JUAREZ', 'TEMASCALCINGO',
       'CUERNAVACA', 'TULANCINGO DE BRAVO', 'CUAUTITLAN IZCALLI',
       'CHICOLOAPAN', 'TOLUCA', 'TULTITLAN', 'BATOPILAS',
       'ATIZAPAN DE ZARAGOZA', 'HUEHUETOCA', 'CHIMALHUACAN', 'OCOYOACAC',
       'IGUALAPA', 'LA PAZ', 'NICOLAS ROMERO', 'ATIZAPAN', 'MONTERREY',
       'TECAMAC', 'MEXICALI', 'MATIAS ROMERO', 'TANCITARO', 'DURANGO',
       'ATENCO', 'SAN SALVADOR', 'PUEBLA', 'APIZACO', 'VILLA DE ZAACHILA',
       'LERMA', 'TLANEPANTLA', 'CUAUTEPEC', 'COLON', 'CADEREYTA JIMENEZ',
       'HUAMANTLA', 'SANTIAGO YOSONDUA', 'SAN PEDRO GARZA GARCIA',
       'MINERAL DE LA REFORMA', 'TEXCOCO', 'CORREGIDORA', 'NUEVO LAREDO',
       'CUAUTITLAN', 'JOQUICINGO', 'PINAL DE AMOLES', 'TIJUANA',
       'OAXACA DE JUAREZ', 'ACOLMAN', 'MANZANILLO', 'GUANAJUATO',
       'SAN FRANCISCO DEL RINCON', 'METEPEC', 'PUERTO VALLARTA',
       'ZUMPANGO', 'TOLCAYUCA', 'CHILPANCINGO DE LOS BRAVO', 'CORTAZAR',
       'COACALCO DE BERRIOZABAL', 'PAPALOTLA DE XICOHTENCATL', 'TLAXCALA',
       'SANTA ANA MAYA', 'OTUMBA', 'SALAMANCA', 'SOLIDARIDAD',
       'ISLA MUJERES', 'CULIACAN', 'SAN MATEO ATENCO', 'TIZAYUCA',
       'TEOTIHUACAN', 'GUADALUPE', 'TEMAMATLA', 'COLIMA', 'GUAYMAS',
       'VILLA DEL CARBON', 'VALLE DE BRAVO', 'ALVARADO', 'CAJEME',
       'TENANCINGO', 'TEMIXCO', 'JOJUTLA', 'MORELIA', 'TETELA DE OCAMPO',
       'ZIHUATANEJO DE  AZUETA', 'REYNOSA', 'TAXCO DE ALARCON', 'SILAO',
       'ALMOLOYA DE JUAREZ', 'JILOTEPEC', 'PURISIMA DEL RINCON',
       'LA UNION DE ISIDORO MONTES DE OCA', 'AMAXAC DE GUERRERO',
       'MALINALCO', 'ZAUTLA', 'CUAUTLA', 'CALIMAYA', 'AMANALCO',
       'ZACATECAS', 'POZA RICA DE HIDALGO', 'HUATABAMPO', 'JUCHITEPEC',
       'PASO DEL MACHO', 'GOMEZ PALACIO', 'CELAYA', 'PUENTE DE IXTLA',
       'COMITAN DE DOMINGUEZ', 'TLALNEPANTLA', 'VICTORIA', 'TELOLOAPAN',
       'MERIDA', 'HERMOSILLO', 'XALATLACO', 'AYAPANGO', 'TEPETLAOXTOC',
       'ZAPOTLAN DE JUAREZ', 'HUITZILAC', 'AMEALCO DE BONFIL',
       'AMECAMECA', 'ATOYAC DE ALVAREZ', 'SAN ANDRES CHOLULA',
       'EDUARDO NERI', 'LEON', 'TEZOYUCA', 'PACHUCA DE SOTO',
       'TEOLOYUCAN', 'EL BOSQUE', 'YECAPIXTLA', 'EL ORO', 'TECOZAUTLA',
       'ORIZABA', 'LA PIEDAD', 'MELCHOR OCAMPO', 'JALTIPAN', 'TLAYACAPAN',
       'JOCOTITLAN', 'QUERETARO', 'GUADALAJARA', 'XALAPA', 'CALVILLO',
       'BOCA DEL RIO', 'JIUTEPEC', 'URUAPAN', 'IRAPUATO', 'JALACINGO',
       'TULA DE ALLENDE', 'EPAZOYUCAN', 'TLACHICHILCO', 'ZACATELCO',
       'TENANGO DEL VALLE', 'TAPALPA', 'SAN MARTIN TEXMELUCAN',
       'TLALTIZAPAN', 'COMONDU', 'ATLACOMULCO', 'NOPALTEPEC',
       'APASEO EL GRANDE', 'TAPACHULA', 'VALLE DE SANTIAGO',
       'TEOCALTICHE', 'AGUASCALIENTES', 'SAN JOSE DEL RINCON', 'ARMERIA',
       'ATLATLAHUCAN', 'SULTEPEC', 'TEPOZTLAN', 'JALTENCO',
       'SANTIAGO DE ANAYA', 'TEPIC', 'VILLA VICTORIA',
       'IXCATEOPAN DE CUAUHTEMOC', 'AXAPUSCO', 'EBANO', 'ZACAPU',
       'SAN NICOLAS DE LOS GARZA', 'TEPOTZOTLAN', 'SANTA MARIA HUATULCO',
       'LOS CABOS', 'TLALMANALCO', 'IXTAPAN DEL ORO', 'ABALA', 'PARAISO',
       'ZITACUARO', 'ZACAPOAXTLA', 'CHAMPOTON',
       'ELOXOCHITLAN DE FLORES MAGON', 'ENSENADA', 'IXTLAHUACA',
       'HUIMANGUILLO', 'XOCHITEPEC', 'SAN LUIS DE LA PAZ',
       'IZUCAR DE MATAMOROS', 'VILLAHERMOSA O CENTRO', 'CARDENAS',
       'SAN JUAN BAUTISTA TUXTEPEC', 'CALNALI', 'CARDONAL',
       'TENANGO DEL AIRE', 'TLAPACOYAN', 'SALINA CRUZ', 'FRESNILLO',
       'TIHUATLAN', 'ENCARNACION DE DIAZ', 'CADEREYTA DE MONTES',
       'JALPAN DE SERRA', 'EL CARMEN TEQUEXQUITLA',
       'ALMOLOYA DE ALQUISIRAS', 'TLAPEHUALA', 'TEQUIXQUIAC',
       'JOSE MARIA MORELOS', 'EMILIANO ZAPATA', 'HUEHUETLA',
       'HUAUCHINANGO', 'LERDO', 'CAÑADA MORELOS', 'COZUMEL',
       'TEMASCALAPA', 'MOROLEON', 'NEXTLALPAN', 'LOS REYES', 'CHIHUAHUA',
       'TETELA DEL VOLCAN', 'ROMITA', 'ALTAMIRA', 'MORELOS',
       'SAN LUIS POTOSI', 'HUATUSCO', 'SANTA CRUZ XOXOCOTLAN', 'ATLAUTLA',
       'MINATITLAN', 'TAMPICO', 'MATAMOROS', 'TENOSIQUE', 'ARROYO SECO',
       'COCOTITLAN', 'CUAUTLANCINGO', 'PAPALOTLA', 'MAZATLAN', 'CORDOBA',
       'CHILON', 'PARRAS', 'ALLENDE', 'GARCIA', 'BUCTZOTZ',
       'OTHON P. BLANCO', 'SAN FELIPE DEL PROGRESO', 'PAPANTLA',
       'EZEQUIEL MONTES', 'JIQUIPILCO', 'ZINACANTEPEC',
       'CUETZALAN DEL PROGRESO', 'CERRO DE SAN PEDRO', 'CAMPECHE',
       'ATLIXCO', 'ASCENSION', 'SAN JUAN DEL RIO', 'AHOME', 'TEPEAPULCO',
       'FELIPE CARRILLO PUERTO', 'YEHUALTEPEC', 'PANUCO', 'CHICONCUAC',
       'ACTOPAN', 'ALFAJAYUCAN', 'CATAZAJA', 'MACUSPANA', 'ZINAPECUARO',
       'TLAJOMULCO DE ZUÑIGA', 'BUENAVENTURA',
       'IGUALA DE LA INDEPENDENCIA', 'OMETEPEC', 'TECAMACHALCO', 'ACULCO',
       'LAFRAGUA', 'METZTITLAN', 'ASIENTOS', 'NAUPAN', 'COENEO',
       'IXMIQUILPAN', 'PENJAMO', 'COYUCA DE BENITEZ',
       'ZAPOTLAN EL GRANDE', 'COATZACOALCOS', 'YAUTEPEC',
       'SAN MARTIN DE LAS PIRAMIDES', 'XONACATLAN', 'TEJUPILCO',
       'CIUDAD MADERO', 'SAN ANTONIO LA ISLA', 'SAN MIGUEL XOXTLA',
       'PROGRESO DE OBREGON', 'VALLE HERMOSO', 'TEPEACA',
       'CARRILLO PUERTO', 'TEOTITLAN DE FLORES MAGON', 'TUXTLA GUTIERREZ',
       'HUIXTAN', 'SAN PEDRO POCHUTLA', 'ACAMBARO', 'VILLA DE ALLENDE',
       'SAN PEDRO MIXTEPEC - DISTR. 22 -', 'GENERAL ESCOBEDO',
       'TECOLUTLA', 'TARIMORO', 'ACAYUCAN', 'TOTOLAPAN', 'AHUATLAN',
       'APAN', 'NACAJUCA', 'CIUDAD VALLES', 'APATZINGAN',
       'ALTO LUCERO DE GUTIERREZ BARRIOS', 'TLAHUELILPAN',
       'IXTAPAN DE LA SAL', 'ACAXOCHITLAN', 'COYOTEPEC', 'RIO BLANCO',
       'YAUHQUEMECAN', 'TEPEJI DEL RIO DE OCAMPO', 'SAN PEDRO ATOYAC',
       'ACONCHI', 'ATITALAQUIA', 'CALPULALPAN', 'TEQUISQUIAPAN',
       'COMPOSTELA', 'CARMEN', 'HUEYAPAN DE OCAMPO', 'JARAL DEL PROGRESO',
       'COYUCA DE CATALAN', 'TLAXCO', 'ZAMORA', 'TLANALAPA', 'HUEYPOXTLA',
       'APODACA', 'ATOTONILCO EL GRANDE', 'JUAN GALINDO',
       'DZILAM DE BRAVO', 'SAN PEDRO JICAYAN', 'TECATE', 'HUIXTLA',
       'ESPAÑITA', 'MEDELLIN', 'CIUDAD DEL MAIZ', 'ATZITZINTLA',
       'COPANATOYAC', 'LORETO', 'AHUMADA', 'LIBRES', 'ZEMPOALA',
       'ACAMBAY', 'SAN GREGORIO ATZOMPA', 'PATZCUARO', 'BERRIOZABAL',
       'SAN MATIAS TLALANCALECA', 'SENGUIO', 'SAN JUAN DE LOS LAGOS',
       'CHARO', 'SAN BARTOLO COYOTEPEC', 'YURIRIA', 'MULEGE', 'AYALA',
       'ACUAMANALA DE MIGUEL HIDALGO', 'LAZARO CARDENAS', 'MUZQUIZ',
       'LOS REYES DE JUAREZ', 'DOLORES HIDALGO', 'MIACATLAN', 'MAGDALENA',
       'LAGOS DE MORENO', 'JESUS MARIA', 'SABINAS', 'TOMATLAN',
       'JALOSTOTITLAN', 'JUAREZ', 'MARIANO ESCOBEDO', 'CHIAUTLA',
       'NOGALES', 'PEROTE', 'MINERAL DEL MONTE', 'MARAVATIO', 'ESPERANZA',
       'NAVOJOA', 'ZACATLAN', 'XOCHICOATLAN', 'COPALA',
       'SAN MIGUEL TOTOLAPAN', 'TECPAN DE GALEANA', 'TANCANHUITZ',
       'XICOTEPEC', 'ATOTONILCO DE TULA', 'SANTA MARIA COYOTEPEC',
       'CABO CORRIENTES', 'PETLALCINGO', 'CAPULHUAC', 'PISAFLORES',
       'TULCINGO', 'TALA', 'TLAQUEPAQUE', 'IGNACIO DE LA LLAVE',
       'CHIAPA DE CORZO', 'SAIN ALTO', 'TLACHICHUCA', 'PUNGARABATO',
       'MIAHUATLAN DE PORFIRIO DIAZ', 'ECUANDUREO',
       'SAN DIEGO DE LA UNION', 'SALTILLO', 'HUITZUCO DE LOS FIGUEROA',
       'SAN PEDRO CHOLULA', 'SINALOA', 'TETEPANGO',
       'TIQUICHEO DE NICOLAS ROMERO', 'HALACHO', 'CHIGNAHUAPAN',
       'HOPELCHEN', 'NACO', 'SAN CRISTOBAL DE LAS CASAS',
       'ZAPOTITLAN PALMAS', 'CHAPA DE MOTA', 'XICO',
       'PUTLA VILLA DE GUERRERO', 'MATEHUALA', 'ACATLAN',
       'SANTIAGO TULANTEPEC DE LUGO GUERRERO', 'CUAUTEPEC DE HINOJOSA',
       'APETATITLAN DE ANTONIO CARVAJAL', 'TEMOAYA', 'CHAPULHUACAN',
       'GENERAL HELIODORO CASTILLO', 'SAN FELIPE TEJALAPAM', 'APAXCO',
       'FRANCISCO I. MADERO', 'AMATENANGO DEL VALLE', 'HIDALGO', 'IRIMBO',
       'SANTA ANA', 'CHURINTZIO', 'AMOZOC', 'OMITLAN DE JUAREZ',
       'TANHUATO', 'COATEPEC', 'OLUTA', 'BRISEÑAS',
       'SAN JUAN BAUTISTA ATATLAHUCA', 'ARIO', 'JILOTZINGO',
       'SANTO TOMAS', 'AQUILES SERDAN', 'RAFAEL DELGADO', 'ERONGARICUARO',
       'EL SALTO', 'TENANGO DE DORIA', 'SAN FRANCISCO HUEHUETLAN',
       'MISANTLA', 'TEHUITZINGO', 'AGUA PRIETA',
       'ZITLALTEPEC DE TRINIDAD SANCHEZ SANTOS', 'Tulum',
       'ALMOLOYA DEL RIO', 'CIENEGA DE FLORES', 'COMAPA', 'PALENQUE',
       'TLAXCOAPAN', 'OCAMPO', 'LA MAGDALENA TLALTELULCO',
       'SAN FRANCISCO JALTEPETONGO', 'TLAPA DE COMONFORT',
       'TIERRA BLANCA', 'TONALA', 'TEPATITLAN DE MORELOS', 'QUIMIXTLAN',
       'SAN SIMON DE GUERRERO', 'NANACAMILPA DE MARIANO ARISTA',
       'ASUNCION NOCHIXTLAN', 'CUAPIAXTLA DE MADERO',
       'SAN SALVADOR EL VERDE', 'ALPATLAHUAC', 'SAN JOSE ITURBIDE',
       'CHICONTEPEC', 'AHUEHUETITLA', 'TIXTLA DE GUERRERO',
       'COSAMALOAPAN DE CARPIO', 'BADIRAGUATO', 'TEXCALTITLAN',
       'TEPETITLAN', 'SAN JOSE CHIAPA'], dtype=object)

In [ ]:
# Al notar que la columna 'alcaldia_hechos' contiene alcaldías de todo el país, filtramos únicamente aquellas que corresponden a la CDMX
# (16 alcaldías):
alcadias_cdmx = ['BENITO JUAREZ',
  'IZTAPALAPA',
  'CUAUHTEMOC',
  'TLAHUAC',
  'IZTACALCO',
  'GUSTAVO A MADERO',
  'MIGUEL HIDALGO',
  'TLALPAN',
  'ALVARO OBREGON',
  'VENUSTIANO CARRANZA',
  'AZCAPOTZALCO',
  'CUAJIMALPA DE MORELOS',
  'COYOACAN',
  'XOCHIMILCO',
  'LA MAGDALENA CONTRERAS',
  'MILPA ALTA'
 ]

df_filtrado_2 = df_filtrado_1.loc[df_filtrado_1['alcaldia_hechos'].isin(alcadias_cdmx)]
print(df_filtrado_2["alcaldia_hechos"].unique())
print("\n")
print(df_filtrado_2.info())

['BENITO JUAREZ' 'IZTAPALAPA' 'CUAUHTEMOC' 'TLAHUAC' 'IZTACALCO'
 'GUSTAVO A MADERO' 'MIGUEL HIDALGO' 'TLALPAN' 'ALVARO OBREGON'
 'VENUSTIANO CARRANZA' 'AZCAPOTZALCO' 'CUAJIMALPA DE MORELOS' 'COYOACAN'
 'XOCHIMILCO' 'LA MAGDALENA CONTRERAS' 'MILPA ALTA']


<class 'pandas.core.frame.DataFrame'>
Int64Index: 1207497 entries, 0 to 1248923
Data columns (total 13 columns):
 #   Column            Non-Null Count    Dtype
---  ------            --------------    -----
 0   ao_hechos         1207497 non-null  float64
 1   mes_hechos        1207497 non-null  object
 2   fecha_hechos      1207497 non-null  object
 3   ao_inicio         1207497 non-null  int64
 4   mes_inicio        1207497 non-null  object
 5   fecha_inicio      1207494 non-null  object
 6   delito            1207497 non-null  object
 7   fiscalia          1207495 non-null  object
 8   categoria_delito  1207497 non-null  object
 9   colonia_hechos    1170825 non-null  object
 10  alcaldia_hechos   1207497 non-null  object
 11  longitud          1171802 non-null  float64
 12  latitud           1171802 non-null  float64
dtypes: float64(3), int64(1), object(9)
memory usage: 129.0+ MB
None

### 5.3 Eliminando los NaN

In [ ]:
# Contamos cuántos NaN existen en cada columna:
df_filtrado_2.isna().sum()

ao_hechos               0
mes_hechos              0
fecha_hechos            0
ao_inicio               0
mes_inicio              0
fecha_inicio            3
delito                  0
fiscalia                2
categoria_delito        0
colonia_hechos      36672
alcaldia_hechos         0
longitud            35695
latitud             35695
dtype: int64

In [ ]:
# Ahora eliminamos las filas que contienen puros NaN (si las hay):
df_sin_nan_1=df_filtrado_2.dropna(axis=0, how='all')
df_sin_nan_1

         ao_hechos mes_hechos  ...   longitud    latitud
0           2016.0      Enero  ... -99.140215  19.380315
1           2016.0      Enero  ... -99.108403  19.352859
2           2016.0    Febrero  ... -99.061321  19.356451
3           2016.0      Enero  ... -98.976379  19.331633
5           2016.0    Febrero  ... -99.174075  19.421356
...            ...        ...  ...        ...        ...
1248919     2021.0      Junio  ... -98.992460  19.168371
1248920     2021.0      Junio  ... -99.168311  19.412001
1248921     2021.0      Junio  ... -99.061716  19.419028
1248922     2021.0       Mayo  ... -99.158994  19.418615
1248923     2021.0      Junio  ... -99.069557  19.321406

[1207497 rows x 13 columns]

In [ ]:
# Al ejecutar la  instrucción anterior no se eliminó ninguna fila, por lo que se asume que ninguna fila contenía puros NaN.

# Ahora eliminamos los registros con NaN en las columnas de fecha_inicio y fiscalia, debido a su poca signficancia estadística:
df_sin_nan_2 = df_sin_nan_1.loc[df_sin_nan_1['fiscalia'].notna()]
df_sin_nan_3 = df_sin_nan_2.loc[df_sin_nan_2['fecha_inicio'].notna()]
df_sin_nan_4 = df_sin_nan_3.loc[df_sin_nan_3["latitud"].notna()]
df_sin_nan_5 = df_sin_nan_4.loc[df_sin_nan_4["longitud"].notna()]

df_sin_nan_5.isna().sum()

ao_hechos              0
mes_hechos             0
fecha_hechos           0
ao_inicio              0
mes_inicio             0
fecha_inicio           0
delito                 0
fiscalia               0
categoria_delito       0
colonia_hechos      1164
alcaldia_hechos        0
longitud               0
latitud                0
dtype: int64

In [ ]:

# Ahora remplazamos los NaN de la columna 'colonia_hechos' por la palabra Unknown para eliminar completamente los NaN:
df_sin_nan_5["colonia_hechos"] = df_sin_nan_5["colonia_hechos"].fillna('Unknown')
df_sin_nan_5.isna().sum()

ao_hechos           0
mes_hechos          0
fecha_hechos        0
ao_inicio           0
mes_inicio          0
fecha_inicio        0
delito              0
fiscalia            0
categoria_delito    0
colonia_hechos      0
alcaldia_hechos     0
longitud            0
latitud             0
dtype: int64

In [ ]:
# En los casos en los que la latitud y longitud no existe se evaluará posteriormente la posibilidad de colocar la latitud y longitud de la alcadia de
# acuerdo a datos del gobierno de la CDMX: https://datos.cdmx.gob.mx/dataset/bae265a8-d1f6-4614-b399-4184bc93e027/resource/e4a9b05f-c480-45fb-a62c-6d4e39c5180e/download/alcaldias.csv

# lat_long_alcaldias = pd.read_csv("https://datos.cdmx.gob.mx/dataset/bae265a8-d1f6-4614-b399-4184bc93e027/resource/e4a9b05f-c480-45fb-a62c-6d4e39c5180e/download/alcaldias.csv")

### 5.4 Reseteando los índices

In [ ]:
# Reseteamos los indices, pues hemos eliminado algunas filas:
df_indice_reseteado = df_sin_nan_5.reset_index(drop=True)
print(df_indice_reseteado.shape)
print('\n')
print(df_indice_reseteado.head(3))
print('\n')
print(df_indice_reseteado.tail(3))

(1171799, 13)


   ao_hechos mes_hechos  ...   longitud    latitud
0     2016.0      Enero  ... -99.140215  19.380315
1     2016.0      Enero  ... -99.108403  19.352859
2     2016.0    Febrero  ... -99.061321  19.356451

[3 rows x 13 columns]


         ao_hechos mes_hechos  ...   longitud    latitud
1171796     2021.0      Junio  ... -99.061716  19.419028
1171797     2021.0       Mayo  ... -99.158994  19.418615
1171798     2021.0      Junio  ... -99.069557  19.321406

[3 rows x 13 columns]

### 5.5 Agregaciones

## 6. Transformación de datos

---

Aquí transformamos el tipo de dato de cada columna al tipo correcto de acuerdo a su contenido. Posteriormente, se hacen algunos filtros y consultas para responder a las preguntas planteadas.

### 6.1 Corrigiendo el tipo de datos de las columnas

In [ ]:
# Consultamos el tipo de datos que contiene cada columna:
df_indice_reseteado.dtypes

ao_hechos           float64
mes_hechos           object
fecha_hechos         object
ao_inicio             int64
mes_inicio           object
fecha_inicio         object
delito               object
fiscalia             object
categoria_delito     object
colonia_hechos       object
alcaldia_hechos      object
longitud            float64
latitud             float64
dtype: object

In [ ]:
# Hacemos casting del tipo de dato de las columnas. En el caso de las columnas con tipo de dato 'object' se convirtieron a 'str' para evitar 
# tener varios tipos de datos en estas columnas:  
df_indice_reseteado['ao_hechos'] = df_indice_reseteado['ao_hechos'].astype(int)
df_indice_reseteado['mes_hechos'] = df_indice_reseteado['mes_hechos'].astype(str)
df_indice_reseteado['mes_inicio'] = df_indice_reseteado['mes_inicio'].astype(str)
df_indice_reseteado['delito'] = df_indice_reseteado['delito'].astype(str)
df_indice_reseteado['fiscalia'] = df_indice_reseteado['fiscalia'].astype(str)
df_indice_reseteado['categoria_delito'] = df_indice_reseteado['categoria_delito'].astype(str)
df_indice_reseteado['colonia_hechos'] = df_indice_reseteado['colonia_hechos'].astype(str)
df_indice_reseteado['alcaldia_hechos'] = df_indice_reseteado['alcaldia_hechos'].astype(str)

diccionario_de_conversion = {
    'fecha_hechos': 'datetime64[ns]',
    'fecha_inicio': 'datetime64[ns]'
}

df_casting=df_indice_reseteado.astype(diccionario_de_conversion)

print(df_casting.dtypes)
print('\n')
df_casting.head(3)

ao_hechos                    int64
mes_hechos                  object
fecha_hechos        datetime64[ns]
ao_inicio                    int64
mes_inicio                  object
fecha_inicio        datetime64[ns]
delito                      object
fiscalia                    object
categoria_delito            object
colonia_hechos              object
alcaldia_hechos             object
longitud                   float64
latitud                    float64
dtype: object

   ao_hechos mes_hechos  ...   longitud    latitud
0       2016      Enero  ... -99.140215  19.380315
1       2016      Enero  ... -99.108403  19.352859
2       2016    Febrero  ... -99.061321  19.356451

[3 rows x 13 columns]

### 6.2 contestando las preguntas de investigación

#### 6.2.1 *¿Qué tipos de delitos se comete con mayor frecuencia?*

In [ ]:
# Hacemos el conteo de la frecuencia de cada categoría de delito y ordenamos de manera ascendente: 
pregunta_1 = df_casting.groupby('categoria_delito').size()
pregunta_1.sort_values(ascending=False)

categoria_delito
DELITO DE BAJO IMPACTO                                     921314
ROBO A TRANSEUNTE EN VÍA PÚBLICA CON Y SIN VIOLENCIA        69745
ROBO DE VEHÍCULO CON Y SIN VIOLENCIA                        63368
HECHO NO DELICTIVO                                          46671
ROBO A NEGOCIO CON VIOLENCIA                                20250
ROBO A REPARTIDOR CON Y SIN VIOLENCIA                       12586
ROBO A PASAJERO A BORDO DEL METRO CON Y SIN VIOLENCIA       11046
HOMICIDIO DOLOSO                                             6096
VIOLACIÓN                                                    4973
LESIONES DOLOSAS POR DISPARO DE ARMA DE FUEGO                4339
ROBO A PASAJERO A BORDO DE MICROBUS CON Y SIN VIOLENCIA      4043
ROBO A CASA HABITACIÓN CON VIOLENCIA                         3111
ROBO A CUENTAHABIENTE SALIENDO DEL CAJERO CON VIOLENCIA      2293
ROBO A PASAJERO A BORDO DE TAXI CON VIOLENCIA                1181
ROBO A TRANSPORTISTA CON Y SIN VIOLENCIA                      606
SECUESTRO                                                     176
FEMINICIDIO                                                     1
dtype: int64

In [ ]:
# Con lo anterior nos dimos cuenta que existe una categoría llamada 'HECHO NO DELICTIVO', así que eliminamos las filas que la contengan, ya que solo nos
# interesan los crimenes. Tabién reseteamos el índice una vez más:
df_casting = df_casting.loc[df_casting['categoria_delito'] != 'HECHO NO DELICTIVO']
df_casting.reset_index(inplace=True)
df_casting.head(3)

   index  ao_hechos mes_hechos  ... alcaldia_hechos   longitud    latitud
0      0       2016      Enero  ...   BENITO JUAREZ -99.140215  19.380315
1      1       2016      Enero  ...      IZTAPALAPA -99.108403  19.352859
2      2       2016    Febrero  ...      IZTAPALAPA -99.061321  19.356451

[3 rows x 14 columns]

In [ ]:
# Observamos que apareció una columna nueva 'index', por lo que la eliminamos:
df_casting=df_casting.drop(columns='index')
df_casting

         ao_hechos mes_hechos  ...   longitud    latitud
0             2016      Enero  ... -99.140215  19.380315
1             2016      Enero  ... -99.108403  19.352859
2             2016    Febrero  ... -99.061321  19.356451
3             2016      Enero  ... -98.976379  19.331633
4             2016    Febrero  ... -99.174075  19.421356
...            ...        ...  ...        ...        ...
1125123       2021      Junio  ... -98.992460  19.168371
1125124       2021      Junio  ... -99.168311  19.412001
1125125       2021      Junio  ... -99.061716  19.419028
1125126       2021       Mayo  ... -99.158994  19.418615
1125127       2021      Junio  ... -99.069557  19.321406

[1125128 rows x 13 columns]

In [ ]:
# Y ahora si respondemos a la pregunta 1:
pregunta_1 = df_casting.groupby('categoria_delito').size()
pregunta_1.sort_values(ascending=False)

categoria_delito
DELITO DE BAJO IMPACTO                                     921314
ROBO A TRANSEUNTE EN VÍA PÚBLICA CON Y SIN VIOLENCIA        69745
ROBO DE VEHÍCULO CON Y SIN VIOLENCIA                        63368
ROBO A NEGOCIO CON VIOLENCIA                                20250
ROBO A REPARTIDOR CON Y SIN VIOLENCIA                       12586
ROBO A PASAJERO A BORDO DEL METRO CON Y SIN VIOLENCIA       11046
HOMICIDIO DOLOSO                                             6096
VIOLACIÓN                                                    4973
LESIONES DOLOSAS POR DISPARO DE ARMA DE FUEGO                4339
ROBO A PASAJERO A BORDO DE MICROBUS CON Y SIN VIOLENCIA      4043
ROBO A CASA HABITACIÓN CON VIOLENCIA                         3111
ROBO A CUENTAHABIENTE SALIENDO DEL CAJERO CON VIOLENCIA      2293
ROBO A PASAJERO A BORDO DE TAXI CON VIOLENCIA                1181
ROBO A TRANSPORTISTA CON Y SIN VIOLENCIA                      606
SECUESTRO                                                     176
FEMINICIDIO                                                     1
dtype: int64

#### 6.2.2 *¿En qué colonias y alcaldías se comete el mayor número de delitos graves?*

In [ ]:
# Primero consultamos qué delitos existen: 
df_casting['categoria_delito'].unique().tolist()

['DELITO DE BAJO IMPACTO',
 'ROBO DE VEHÍCULO CON Y SIN VIOLENCIA',
 'ROBO A TRANSEUNTE EN VÍA PÚBLICA CON Y SIN VIOLENCIA',
 'LESIONES DOLOSAS POR DISPARO DE ARMA DE FUEGO',
 'ROBO A NEGOCIO CON VIOLENCIA',
 'ROBO A CASA HABITACIÓN CON VIOLENCIA',
 'ROBO A PASAJERO A BORDO DE MICROBUS CON Y SIN VIOLENCIA',
 'VIOLACIÓN',
 'ROBO A TRANSPORTISTA CON Y SIN VIOLENCIA',
 'ROBO A CUENTAHABIENTE SALIENDO DEL CAJERO CON VIOLENCIA',
 'ROBO A REPARTIDOR CON Y SIN VIOLENCIA',
 'HOMICIDIO DOLOSO',
 'ROBO A PASAJERO A BORDO DE TAXI CON VIOLENCIA',
 'ROBO A PASAJERO A BORDO DEL METRO CON Y SIN VIOLENCIA',
 'SECUESTRO',
 'FEMINICIDIO']

In [ ]:
# Ahora filtramos los delitos que consideramos graves:
delitos_graves = df_casting.loc[df_casting['categoria_delito'].isin(['LESIONES DOLOSAS POR DISPARO DE ARMA DE FUEGO','VIOLACIÓN', 'HOMICIDIO DOLOSO', 'SECUESTRO', 'FEMINICIDIO'])]

# y agrupamos por alcaldía: 
pregunta_2 = delitos_graves.groupby('alcaldia_hechos').size()
pregunta_2

alcaldia_hechos
ALVARO OBREGON            1165
AZCAPOTZALCO               654
BENITO JUAREZ              449
COYOACAN                   735
CUAJIMALPA DE MORELOS      196
CUAUHTEMOC                1694
GUSTAVO A MADERO          2137
IZTACALCO                  656
IZTAPALAPA                3352
LA MAGDALENA CONTRERAS     290
MIGUEL HIDALGO             712
MILPA ALTA                 182
TLAHUAC                    618
TLALPAN                   1054
VENUSTIANO CARRANZA        992
XOCHIMILCO                 699
dtype: int64

#### 6.2.3 *¿Qué tipos de delito han mostrado un crecimiento y decrecimiento en los últimos años?*


1.   Separamos los delitos por año
2.   Determinamos el número de delitos por año
3.   Comparamos con una tabla que aplicamos merge de los resultados

Y determinamos que:

*   La violencia familiar por ejemplo fue en aumento exponencialmente y luego disminuyó en el último año 2021
*   El robo de objetos ha ido disminuyendo considerablemente en los últimos años
*   El robo a negocio sin violencia disminuyó en los últimos 2 años
*   El fraude se mantuvo estable entre 2016-2020 pero disminuyó drásticamente en el último año 2021
*   Las amenazas fueron en aumento gradualmente, pero disminuyeron considerablemente el último año 2021

In [ ]:
df6, df7 = [x for _, x in df_casting.groupby(df_casting['ao_hechos'] == 2021)]
g=df7.groupby('delito')['ao_hechos'].size().reset_index()
res2021=g.sort_values("ao_hechos", ascending=False)
res2021.head()

                                             delito  ao_hechos
238                              VIOLENCIA FAMILIAR      16110
7                                          AMENAZAS       7907
59                                           FRAUDE       5990
188                                 ROBO DE OBJETOS       4684
166  ROBO A TRANSEUNTE EN VIA PUBLICA CON VIOLENCIA       4182

In [ ]:
df6, df7 = [x for _, x in df_casting.groupby(df_casting['ao_hechos'] == 2020)]
g=df7.groupby('delito')['ao_hechos'].size().reset_index()
res2020=g.sort_values("ao_hechos", ascending=False)
res2020.head()

                                             delito  ao_hechos
250                              VIOLENCIA FAMILIAR      27573
7                                          AMENAZAS      14212
62                                           FRAUDE      12489
199                                 ROBO DE OBJETOS       9005
179  ROBO A TRANSEUNTE EN VIA PUBLICA CON VIOLENCIA       8588

In [ ]:
df6, df7 = [x for _, x in df_casting.groupby(df_casting['ao_hechos'] == 2019)]
g=df7.groupby('delito')['ao_hechos'].size().reset_index()
res2019=g.sort_values("ao_hechos", ascending=False)
res2019.head()

                                             delito  ao_hechos
239                              VIOLENCIA FAMILIAR      25430
129                    ROBO A NEGOCIO SIN VIOLENCIA      15741
7                                          AMENAZAS      13677
64                                           FRAUDE      13601
174  ROBO A TRANSEUNTE EN VIA PUBLICA CON VIOLENCIA      13230

In [ ]:
df6, df7 = [x for _, x in df_casting.groupby(df_casting['ao_hechos'] == 2018)]
g=df7.groupby('delito')['ao_hechos'].size().reset_index()
res2018=g.sort_values("ao_hechos", ascending=False)
res2018.head()

                                             delito  ao_hechos
185  ROBO A TRANSEUNTE EN VIA PUBLICA CON VIOLENCIA      21887
252                              VIOLENCIA FAMILIAR      19756
136                    ROBO A NEGOCIO SIN VIOLENCIA      15956
203                                 ROBO DE OBJETOS      14204
68                                           FRAUDE      13168

In [ ]:
df6, df7 = [x for _, x in df_casting.groupby(df_casting['ao_hechos'] == 2017)]
g=df7.groupby('delito')['ao_hechos'].size().reset_index()
res2017=g.sort_values("ao_hechos", ascending=False)
res2017.head()

                           delito  ao_hechos
250            VIOLENCIA FAMILIAR      18325
200               ROBO DE OBJETOS      15927
135  ROBO A NEGOCIO SIN VIOLENCIA      14844
68                         FRAUDE      11454
9                        AMENAZAS       9434

In [ ]:
df6, df7 = [x for _, x in df_casting.groupby(df_casting['ao_hechos'] == 2016)]
g=df7.groupby('delito')['ao_hechos'].size().reset_index()
res2016=g.sort_values("ao_hechos", ascending=False)
res2016.head()

                           delito  ao_hechos
248            VIOLENCIA FAMILIAR      17844
202               ROBO DE OBJETOS      14868
137  ROBO A NEGOCIO SIN VIOLENCIA      13411
69                         FRAUDE      10625
9                        AMENAZAS       9864

In [ ]:
data_frames = [res2016, res2017, res2018, res2019, res2020, res2021]

In [ ]:
from functools import reduce

In [ ]:
df_resultados = reduce(lambda  left,right: pd.merge(left,right,on=['delito'],
                                            how='outer'), data_frames)

In [ ]:
df_resultados.head()

                         delito  ao_hechos_x  ...  ao_hechos_x  ao_hechos_y
0            VIOLENCIA FAMILIAR      17844.0  ...      27573.0      16110.0
1               ROBO DE OBJETOS      14868.0  ...       9005.0       4684.0
2  ROBO A NEGOCIO SIN VIOLENCIA      13411.0  ...       4437.0       1919.0
3                        FRAUDE      10625.0  ...      12489.0       5990.0
4                      AMENAZAS       9864.0  ...      14212.0       7907.0

[5 rows x 7 columns]

#### 6.2.4 *¿Qué tipos de delitos se cometen por alcaldía?*

In [ ]:
#Agrupamos delitos por alcaldía de hechos
df_casting.groupby('alcaldia_hechos').size()

alcaldia_hechos
ALVARO OBREGON             78197
AZCAPOTZALCO               56977
BENITO JUAREZ              95689
COYOACAN                   77192
CUAJIMALPA DE MORELOS      17166
CUAUHTEMOC                168678
GUSTAVO A MADERO          114239
IZTACALCO                  48170
IZTAPALAPA                169783
LA MAGDALENA CONTRERAS     19162
MIGUEL HIDALGO             75264
MILPA ALTA                  8165
TLAHUAC                    28027
TLALPAN                    67814
VENUSTIANO CARRANZA        64196
XOCHIMILCO                 36409
dtype: int64

In [ ]:
#Consultamos cada alcaldía para saber sus tipos de delito que se cometen por la misma
df6, df7 = [x for _, x in df_casting.groupby(df_casting['alcaldia_hechos'] == 'ALVARO OBREGON')]
df7.groupby('delito').size()

delito
ABANDONO DE PERSONA                                      120
ABORTO                                                    39
ABUSO DE AUTORIDAD                                       146
ABUSO DE AUTORIDAD Y USO ILEGAL DE LA FUERZA PUBLICA     304
ABUSO DE CONFIANZA                                      1362
                                                        ...
VIOLACION EQUIPARADA POR CONOCIDO                          5
VIOLACION EQUIPARADA Y ROBO DE VEHICULO                    1
VIOLACION TUMULTUARIA                                      4
VIOLACION Y ROBO DE VEHICULO                               1
VIOLENCIA FAMILIAR                                      9518
Length: 258, dtype: int64

In [ ]:
df6, df7 = [x for _, x in df_casting.groupby(df_casting['alcaldia_hechos'] == 'AZCAPOTZALCO')]
df7.groupby('delito').size()

delito
ABANDONO DE PERSONA                                       73
ABORTO                                                     8
ABUSO DE AUTORIDAD                                       136
ABUSO DE AUTORIDAD Y USO ILEGAL DE LA FUERZA PUBLICA     160
ABUSO DE CONFIANZA                                      1041
                                                        ...
VIOLACION EQUIPARADA                                      36
VIOLACION EQUIPARADA POR CONOCIDO                          3
VIOLACION TUMULTUARIA                                      3
VIOLACION TUMULTUARIA EQUIPARADA POR CONOCIDO              1
VIOLENCIA FAMILIAR                                      6033
Length: 252, dtype: int64

In [ ]:
df6, df7 = [x for _, x in df_casting.groupby(df_casting['alcaldia_hechos'] == 'BENITO JUAREZ')]
df7.groupby('delito').size()

delito
ABANDONO DE PERSONA                                      137
ABORTO                                                    12
ABUSO DE AUTORIDAD                                       158
ABUSO DE AUTORIDAD Y USO ILEGAL DE LA FUERZA PUBLICA     224
ABUSO DE CONFIANZA                                      2256
                                                        ...
VIOLACION EQUIPARADA                                      53
VIOLACION EQUIPARADA POR CONOCIDO                          3
VIOLACION TUMULTUARIA                                      5
VIOLACION TUMULTUARIA EQUIPARADA                           1
VIOLENCIA FAMILIAR                                      4670
Length: 258, dtype: int64

In [ ]:
df6, df7 = [x for _, x in df_casting.groupby(df_casting['alcaldia_hechos'] == 'COYOACAN')]
df7.groupby('delito').size()

delito
ABANDONO DE PERSONA                                      114
ABORTO                                                     9
ABUSO DE AUTORIDAD                                       201
ABUSO DE AUTORIDAD Y USO ILEGAL DE LA FUERZA PUBLICA     211
ABUSO DE CONFIANZA                                      1273
                                                        ...
VIOLACION EQUIPARADA POR CONOCIDO                          5
VIOLACION EQUIPARADA Y ROBO DE VEHICULO                    1
VIOLACION TUMULTUARIA                                      7
VIOLACION TUMULTUARIA EQUIPARADA POR CONOCIDO              1
VIOLENCIA FAMILIAR                                      8287
Length: 256, dtype: int64

In [ ]:
df6, df7 = [x for _, x in df_casting.groupby(df_casting['alcaldia_hechos'] == 'CUAJIMALPA DE MORELOS')]
df7.groupby('delito').size()

delito
ABANDONO DE PERSONA                                       18
ABORTO                                                     5
ABUSO DE AUTORIDAD                                        34
ABUSO DE AUTORIDAD Y USO ILEGAL DE LA FUERZA PUBLICA      65
ABUSO DE CONFIANZA                                       475
                                                        ...
VIOLACION DE LA INTIMIDAD                                  1
VIOLACION EQUIPARADA                                      18
VIOLACION EQUIPARADA POR CONOCIDO                          1
VIOLACION TUMULTUARIA                                      2
VIOLENCIA FAMILIAR                                      2278
Length: 216, dtype: int64

In [ ]:
df6, df7 = [x for _, x in df_casting.groupby(df_casting['alcaldia_hechos'] == 'CUAUHTEMOC')]
df7.groupby('delito').size()

delito
ABANDONO DE PERSONA                                      421
ABORTO                                                    27
ABUSO DE AUTORIDAD                                      1058
ABUSO DE AUTORIDAD Y USO ILEGAL DE LA FUERZA PUBLICA     944
ABUSO DE CONFIANZA                                      2902
                                                        ...
VIOLACION EQUIPARADA                                     114
VIOLACION EQUIPARADA POR CONOCIDO                          8
VIOLACION EQUIPARADA Y ROBO DE VEHICULO                    2
VIOLACION TUMULTUARIA                                     21
VIOLENCIA FAMILIAR                                      9739
Length: 281, dtype: int64

In [ ]:
df6, df7 = [x for _, x in df_casting.groupby(df_casting['alcaldia_hechos'] == 'GUSTAVO A MADERO')]
df7.groupby('delito').size()

delito
ABANDONO DE PERSONA                                       155
ABORTO                                                     46
ABUSO DE AUTORIDAD                                        437
ABUSO DE AUTORIDAD Y USO ILEGAL DE LA FUERZA PUBLICA      462
ABUSO DE CONFIANZA                                       1748
                                                        ...
VIOLACION EQUIPARADA                                       84
VIOLACION EQUIPARADA POR CONOCIDO                          11
VIOLACION EQUIPARADA Y ROBO DE VEHICULO                     1
VIOLACION TUMULTUARIA                                       6
VIOLENCIA FAMILIAR                                      14917
Length: 269, dtype: int64

In [ ]:
df6, df7 = [x for _, x in df_casting.groupby(df_casting['alcaldia_hechos'] == 'IZTACALCO')]
df7.groupby('delito').size()

delito
ABANDONO DE PERSONA                                       92
ABORTO                                                    14
ABUSO DE AUTORIDAD                                       141
ABUSO DE AUTORIDAD Y USO ILEGAL DE LA FUERZA PUBLICA     230
ABUSO DE CONFIANZA                                       796
                                                        ...
VIOLACION EQUIPARADA                                      27
VIOLACION EQUIPARADA POR CONOCIDO                          2
VIOLACION EQUIPARADA Y ROBO DE VEHICULO                    1
VIOLACION TUMULTUARIA                                      7
VIOLENCIA FAMILIAR                                      7460
Length: 243, dtype: int64

In [ ]:
df6, df7 = [x for _, x in df_casting.groupby(df_casting['alcaldia_hechos'] == 'IZTAPALAPA')]
df7.groupby('delito').size()

delito
ABANDONO DE PERSONA                                       228
ABORTO                                                     76
ABUSO DE AUTORIDAD                                        680
ABUSO DE AUTORIDAD Y USO ILEGAL DE LA FUERZA PUBLICA      837
ABUSO DE CONFIANZA                                       2244
                                                        ...
VIOLACION EQUIPARADA POR CONOCIDO                          15
VIOLACION EQUIPARADA Y ROBO DE VEHICULO                     1
VIOLACION TUMULTUARIA                                      19
VIOLACION TUMULTUARIA EQUIPARADA                            1
VIOLENCIA FAMILIAR                                      23043
Length: 279, dtype: int64

In [ ]:
df6, df7 = [x for _, x in df_casting.groupby(df_casting['alcaldia_hechos'] == 'LA MAGDALENA CONTRERAS')]
df7.groupby('delito').size()

delito
ABANDONO DE PERSONA                                       24
ABORTO                                                    12
ABUSO DE AUTORIDAD                                        38
ABUSO DE AUTORIDAD Y USO ILEGAL DE LA FUERZA PUBLICA      80
ABUSO DE CONFIANZA                                       263
                                                        ...
VIOLACION DE LA INTIMIDAD                                  3
VIOLACION EQUIPARADA                                      29
VIOLACION EQUIPARADA POR CONOCIDO                          4
VIOLACION TUMULTUARIA                                      2
VIOLENCIA FAMILIAR                                      4709
Length: 213, dtype: int64

In [ ]:
df6, df7 = [x for _, x in df_casting.groupby(df_casting['alcaldia_hechos'] == 'MIGUEL HIDALGO')]
df7.groupby('delito').size()

delito
ABANDONO DE PERSONA                                       77
ABORTO                                                    14
ABUSO DE AUTORIDAD                                       234
ABUSO DE AUTORIDAD Y USO ILEGAL DE LA FUERZA PUBLICA     239
ABUSO DE CONFIANZA                                      1355
                                                        ...
VIOLACION DE LA INTIMIDAD                                  4
VIOLACION EQUIPARADA                                      57
VIOLACION EQUIPARADA POR CONOCIDO                          7
VIOLACION TUMULTUARIA                                      2
VIOLENCIA FAMILIAR                                      4435
Length: 259, dtype: int64

In [ ]:
df6, df7 = [x for _, x in df_casting.groupby(df_casting['alcaldia_hechos'] == 'MILPA ALTA')]
df7.groupby('delito').size()

delito
ABANDONO DE PERSONA                                       16
ABORTO                                                     7
ABUSO DE AUTORIDAD                                        14
ABUSO DE AUTORIDAD Y USO ILEGAL DE LA FUERZA PUBLICA      37
ABUSO DE CONFIANZA                                       114
                                                        ...
VIOLACION DE LA INTIMIDAD                                  1
VIOLACION EQUIPARADA                                      15
VIOLACION EQUIPARADA POR CONOCIDO                          6
VIOLACION TUMULTUARIA                                      5
VIOLENCIA FAMILIAR                                      2016
Length: 185, dtype: int64

In [ ]:
df6, df7 = [x for _, x in df_casting.groupby(df_casting['alcaldia_hechos'] == 'MIGUEL HIDALGO')]
df7.groupby('delito').size()

delito
ABANDONO DE PERSONA                                       77
ABORTO                                                    14
ABUSO DE AUTORIDAD                                       234
ABUSO DE AUTORIDAD Y USO ILEGAL DE LA FUERZA PUBLICA     239
ABUSO DE CONFIANZA                                      1355
                                                        ...
VIOLACION DE LA INTIMIDAD                                  4
VIOLACION EQUIPARADA                                      57
VIOLACION EQUIPARADA POR CONOCIDO                          7
VIOLACION TUMULTUARIA                                      2
VIOLENCIA FAMILIAR                                      4435
Length: 259, dtype: int64

In [ ]:
df6, df7 = [x for _, x in df_casting.groupby(df_casting['alcaldia_hechos'] == 'TLAHUAC')]
df7.groupby('delito').size()

delito
ABANDONO DE PERSONA                                       32
ABORTO                                                    13
ABUSO DE AUTORIDAD                                        65
ABUSO DE AUTORIDAD Y USO ILEGAL DE LA FUERZA PUBLICA     107
ABUSO DE CONFIANZA                                       428
                                                        ...
VIOLACION DE LA INTIMIDAD                                  3
VIOLACION EQUIPARADA                                      38
VIOLACION EQUIPARADA POR CONOCIDO                          5
VIOLACION TUMULTUARIA                                      5
VIOLENCIA FAMILIAR                                      5349
Length: 236, dtype: int64

In [ ]:
df6, df7 = [x for _, x in df_casting.groupby(df_casting['alcaldia_hechos'] == 'TLALPAN')]
df7.groupby('delito').size()

delito
ABANDONO DE PERSONA                                       96
ABORTO                                                    20
ABUSO DE AUTORIDAD                                       108
ABUSO DE AUTORIDAD Y USO ILEGAL DE LA FUERZA PUBLICA     189
ABUSO DE CONFIANZA                                      1070
                                                        ...
VIOLACION EQUIPARADA                                      54
VIOLACION EQUIPARADA POR CONOCIDO                          5
VIOLACION EQUIPARADA Y ROBO DE VEHICULO                    1
VIOLACION TUMULTUARIA                                      7
VIOLENCIA FAMILIAR                                      9172
Length: 255, dtype: int64

In [ ]:
df6, df7 = [x for _, x in df_casting.groupby(df_casting['alcaldia_hechos'] == 'VENUSTIANO CARRANZA')]
df7.groupby('delito').size()

delito
ABANDONO DE PERSONA                                       78
ABORTO                                                    30
ABUSO DE AUTORIDAD                                       280
ABUSO DE AUTORIDAD Y USO ILEGAL DE LA FUERZA PUBLICA     410
ABUSO DE CONFIANZA                                      1260
                                                        ...
VIOLACION DE LA INTIMIDAD                                  2
VIOLACION EQUIPARADA                                      50
VIOLACION EQUIPARADA POR CONOCIDO                          4
VIOLACION TUMULTUARIA                                      7
VIOLENCIA FAMILIAR                                      7092
Length: 243, dtype: int64

In [ ]:
df6, df7 = [x for _, x in df_casting.groupby(df_casting['alcaldia_hechos'] == 'XOCHIMILCO')]
df7.groupby('delito').size()

delito
ABANDONO DE PERSONA                                       69
ABORTO                                                    11
ABUSO DE AUTORIDAD                                        90
ABUSO DE AUTORIDAD Y USO ILEGAL DE LA FUERZA PUBLICA     126
ABUSO DE CONFIANZA                                       506
                                                        ...
VIOLACION EQUIPARADA Y ROBO DE VEHICULO                    2
VIOLACION TUMULTUARIA                                      7
VIOLACION TUMULTUARIA EQUIPARADA POR CONOCIDO              1
VIOLACION Y ROBO DE VEHICULO                               1
VIOLENCIA FAMILIAR                                      6320
Length: 248, dtype: int64

#### 6.2.5 *¿Qué delitos han son más comúnes cada año?*


*   Violencia familiar
*   Robo de objetos
*   Robo de negocio sin violencia

In [ ]:
df6, df7 = [x for _, x in df_casting.groupby(df_casting['ao_hechos'] == 2016)]
g=df7.groupby('delito')['ao_hechos'].size().reset_index()
res=g.sort_values("ao_hechos", ascending=False)
res

                                                delito  ao_hechos
248                                 VIOLENCIA FAMILIAR      17844
202                                    ROBO DE OBJETOS      14868
137                       ROBO A NEGOCIO SIN VIOLENCIA      13411
69                                              FRAUDE      10625
9                                             AMENAZAS       9864
..                                                 ...        ...
16                     COACCION DE SERVIDORES PUBLICOS          1
10                               ASOCIACION DELICTUOSA          1
215  ROBO DURANTE TRASLADO DE VALORES (NOMINA) CON ...          1
216  ROBO DURANTE TRASLADO DE VALORES (NOMINA) SIN ...          1
124                   PROVOCACION O APOLOGIA DE DELITO          1

[249 rows x 2 columns]

In [ ]:
df6, df7 = [x for _, x in df_casting.groupby(df_casting['ao_hechos'] == 2017)]
g=df7.groupby('delito')['ao_hechos'].size().reset_index()
res=g.sort_values("ao_hechos", ascending=False)
res

                                                delito  ao_hechos
250                                 VIOLENCIA FAMILIAR      18325
200                                    ROBO DE OBJETOS      15927
135                       ROBO A NEGOCIO SIN VIOLENCIA      14844
68                                              FRAUDE      11454
9                                             AMENAZAS       9434
..                                                 ...        ...
53      ENCUBRIMIENTO POR FAVORECIMIENTO Y RECEPTACIÓN          1
122                   PROVOCACION O APOLOGIA DE DELITO          1
213            ROBO DE VEHICULO Y NOMINA CON VIOLENCIA          1
127                               RETENCIÓN DE MENORES          1
171  ROBO A TRANSEUNTE A BORDO DE TAXI PÚBLICO Y PR...          1

[251 rows x 2 columns]

In [ ]:
df6, df7 = [x for _, x in df_casting.groupby(df_casting['ao_hechos'] == 2018)]
g=df7.groupby('delito')['ao_hechos'].size().reset_index()
res=g.sort_values("ao_hechos", ascending=False)
res

                                                delito  ao_hechos
185     ROBO A TRANSEUNTE EN VIA PUBLICA CON VIOLENCIA      21887
252                                 VIOLENCIA FAMILIAR      19756
136                       ROBO A NEGOCIO SIN VIOLENCIA      15956
203                                    ROBO DE OBJETOS      14204
68                                              FRAUDE      13168
..                                                 ...        ...
220  ROBO S/V DENTRO DE NEGOCIOS, AUTOSERVICIOS, CO...          1
217  ROBO DURANTE TRASLADO DE VALORES (NOMINA) SIN ...          1
216  ROBO DURANTE TRASLADO DE VALORES (NOMINA) CON ...          1
198                                    ROBO DE INFANTE          1
160    ROBO A PASAJERO EN TREN SUBURBANO CON VIOLENCIA          1

[253 rows x 2 columns]

In [ ]:
df6, df7 = [x for _, x in df_casting.groupby(df_casting['ao_hechos'] == 2019)]
g=df7.groupby('delito')['ao_hechos'].size().reset_index()
res=g.sort_values("ao_hechos", ascending=False)
res

                                                delito  ao_hechos
239                                 VIOLENCIA FAMILIAR      25430
129                       ROBO A NEGOCIO SIN VIOLENCIA      15741
7                                             AMENAZAS      13677
64                                              FRAUDE      13601
174     ROBO A TRANSEUNTE EN VIA PUBLICA CON VIOLENCIA      13230
..                                                 ...        ...
94          LEY FEDERAL DE ARMAS DE FUEGO Y EXPLOSIVOS          1
49                             ENRIQUECIMIENTO ILICITO          1
50                       ENTREGA ILEGITIMA DE UN MENOR          1
16                                   CONTAGIO VENERERO          1
79   INTIMIDACION (EVITAR DENUNCIA, APORTE INFORMAC...          1

[240 rows x 2 columns]

In [ ]:
df6, df7 = [x for _, x in df_casting.groupby(df_casting['ao_hechos'] == 2020)]
g=df7.groupby('delito')['ao_hechos'].size().reset_index()
res=g.sort_values("ao_hechos", ascending=False)
res

                                             delito  ao_hechos
250                              VIOLENCIA FAMILIAR      27573
7                                          AMENAZAS      14212
62                                           FRAUDE      12489
199                                 ROBO DE OBJETOS       9005
179  ROBO A TRANSEUNTE EN VIA PUBLICA CON VIOLENCIA       8588
..                                              ...        ...
155    ROBO A PASAJERO EN TREN LIGERO CON VIOLENCIA          1
183      ROBO A TRANSEUNTE Y VEHICULO CON VIOLENCIA          1
35                          DELITOS CONTRA LA SALUD          1
72                                 HOMICIDIO DOLOSO          1
78                                          INCESTO          1

[251 rows x 2 columns]

In [ ]:
df6, df7 = [x for _, x in df_casting.groupby(df_casting['ao_hechos'] == 2021)]
g=df7.groupby('delito')['ao_hechos'].size().reset_index()
res=g.sort_values("ao_hechos", ascending=False)
res

                                                delito  ao_hechos
238                                 VIOLENCIA FAMILIAR      16110
7                                             AMENAZAS       7907
59                                              FRAUDE       5990
188                                    ROBO DE OBJETOS       4684
166     ROBO A TRANSEUNTE EN VIA PUBLICA CON VIOLENCIA       4182
..                                                 ...        ...
195  ROBO DE VEHICULO DE SERVICIO OFICIAL CON VIOLE...          1
58                              FEMINICIDIO POR GOLPES          1
61                                   HOMICIDIO CULPOSO          1
165  ROBO A TRANSEUNTE EN VIA PUBLICA (NOMINA) SIN ...          1
70                          HOMICIDIO POR AHORCAMIENTO          1

[239 rows x 2 columns]

#### 6.2.6 *¿En qué horarios durante el día se cometen mayor número de algún tipo de delito?*

In [ ]:
# Primero extraemos la hora de la columna 'fecha_hechos':
horas= pd.DatetimeIndex(df_casting['fecha_hechos']).hour

# Ahora añadimos la columna 'hora_hechos' al dataframe:
df_casting['hora_hechos']=horas
df_casting.tail()

         ao_hechos mes_hechos  ...    latitud  hora_hechos
1125123       2021      Junio  ...  19.168371           17
1125124       2021      Junio  ...  19.412001           19
1125125       2021      Junio  ...  19.419028           19
1125126       2021       Mayo  ...  19.418615           21
1125127       2021      Junio  ...  19.321406           17

[5 rows x 14 columns]

In [ ]:
# y hacemos un size para contar el número la frecuencia de delitos por hora (durante el perido 2016-2021). Al parecer, las 12 del día es la hora en la
# que sueden más delitos. 
df_casting.groupby('hora_hechos').size().sort_values(ascending=False)

hora_hechos
12    123303
10     72026
15     63833
14     63676
11     59643
13     59446
20     59390
16     58850
19     56646
18     56499
17     55404
9      52312
21     52130
8      43027
22     42961
7      34819
23     33029
6      26245
0      23779
1      19789
5      18428
2      17975
3      17127
4      14791
dtype: int64

## Descargamos un archivo csv con las columnas necesarias para mapear en el programa que desarrollamos con la API de Google Maps

In [ ]:
#Borramos las columnas que no nos servían mucho para mapear y nos concentramos más en la longitud y latitud
df5=df_casting.drop(['mes_hechos',	'fecha_hechos',	'ao_inicio',	'mes_inicio',	'fecha_inicio', 'fiscalia',	'colonia_hechos',	'alcaldia_hechos',	'hora_hechos'], axis = 1)

In [ ]:
#Filtramos los delitos del último año
df6, df7 = [x for _, x in df5.groupby(df5['ao_hechos'] == 2021)]
df7

In [ ]:
#Agrupamos por delito para obtener el número de delitos por delito del 2021
df7.groupby(['categoria_delito']).size()

categoria_delito
DELITO DE BAJO IMPACTO                                     81021
HOMICIDIO DOLOSO                                             451
LESIONES DOLOSAS POR DISPARO DE ARMA DE FUEGO                276
ROBO A CASA HABITACIÓN CON VIOLENCIA                         256
ROBO A CUENTAHABIENTE SALIENDO DEL CAJERO CON VIOLENCIA      173
ROBO A NEGOCIO CON VIOLENCIA                                1355
ROBO A PASAJERO A BORDO DE MICROBUS CON Y SIN VIOLENCIA      185
ROBO A PASAJERO A BORDO DE TAXI CON VIOLENCIA                117
ROBO A PASAJERO A BORDO DEL METRO CON Y SIN VIOLENCIA        363
ROBO A REPARTIDOR CON Y SIN VIOLENCIA                       1086
ROBO A TRANSEUNTE EN VÍA PÚBLICA CON Y SIN VIOLENCIA        5044
ROBO A TRANSPORTISTA CON Y SIN VIOLENCIA                      43
ROBO DE VEHÍCULO CON Y SIN VIOLENCIA                        3740
SECUESTRO                                                      5
VIOLACIÓN                                                    622
dtype: int64

In [ ]:
#Elegimos violación como ejemplo para mapear
df8, df9 = [x for _, x in df7.groupby(df7['categoria_delito'] == 'VIOLACIÓN')]
df9

In [ ]:
#Convertimos el DataFrame a un archivo .csv
df9.to_csv('carpeta_de_invetigacion_FGJ_VIOLACION.csv')

In [ ]:
#Finalmente descargamos el archivo
from google.colab import files
files.download("carpeta_de_invetigacion_FGJ_VIOLACION.csv")

# Mapas

In [ ]:
!pip install -q plotly==5.1.0

     |████████████████████████████████| 20.6 MB 50.0 MB/s

In [ ]:
import plotly.graph_objects as go

mapbox_access_token = 'pk.eyJ1IjoiYXZpbGFqdWxpb2MiLCJhIjoiY2tzNzBvYmswMDdndjJ1cGNoenltcHMwNiJ9.MJb7m3-Xqq6GEbEs6gz6UQ'

fig = go.Figure(go.Scattermapbox(
        lat=lat,
        lon=lon,
        mode='markers',
        marker=go.scattermapbox.Marker(
            size=9
        ),
        text=cat,
))
fig.update_layout(
    autosize=True,
    hovermode='closest',
    mapbox=dict(
        accesstoken=mapbox_access_token,
        bearing=0,
        center=dict(
            lat=19.4303,
            lon=99.1373
        ),
        pitch=0,
        zoom=10
    ),
)

fig.show(renderer='colab')

NameError: ignored

In [ ]:
df_map = df5.loc[df5["latitud"].notna() & (df5["ao_hechos"] == 2021)]

In [ ]:
lat = [str(lat) for lat in df_map["latitud"].to_list()]
lon = [str(lon) for lon in df_map["longitud"].to_list()]
cat = [str(lon) for lon in df_map["categoria_delito"].to_list()]